<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="leftColumns">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="3"/>
                <entry key="0" type="xstring" value="player_id"/>
                <entry key="1" type="xstring" value="player_name"/>
                <entry key="2" type="xstring" value="is_active"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <config key="rightColumns">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="28"/>
                <entry key="0" type="xstring" value="person_id"/>
                <entry key="1" type="xstring" value="display_first_last"/>
                <entry key="2" type="xstring" value="birthdate"/>
                <entry key="3" type="xstring" value="school"/>
                <entry key="4" type="xstring" value="country"/>
                <entry key="5" type="xstring" value="last_affiliation"/>
                <entry key="6" type="xstring" value="height"/>
                <entry key="7" type="xstring" value="weight"/>
                <entry key="8" type="xstring" value="season_exp"/>
                <entry key="9" type="xstring" value="jersey"/>
                <entry key="10" type="xstring" value="position"/>
                <entry key="11" type="xstring" value="rosterstatus"/>
                <entry key="12" type="xstring" value="games_played_current_season_flag"/>
                <entry key="13" type="xstring" value="team_id"/>
                <entry key="14" type="xstring" value="team_name"/>
                <entry key="15" type="xstring" value="team_abbreviation"/>
                <entry key="16" type="xstring" value="team_code"/>
                <entry key="17" type="xstring" value="team_city"/>
                <entry key="18" type="xstring" value="playercode"/>
                <entry key="19" type="xstring" value="from_year"/>
                <entry key="20" type="xstring" value="to_year"/>
                <entry key="21" type="xstring" value="dleague_flag"/>
                <entry key="22" type="xstring" value="nba_flag"/>
                <entry key="23" type="xstring" value="games_played_flag"/>
                <entry key="24" type="xstring" value="draft_year"/>
                <entry key="25" type="xstring" value="draft_round"/>
                <entry key="26" type="xstring" value="draft_number"/>
                <entry key="27" type="xstring" value="greatest_75_flag"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.time.localdatetime.LocalDateTimeValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <config key="joinMode_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="joinMode" type="xstring" value="Inner Join"/>
        <config key="andComposition_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="andComposition" type="xboolean" value="true"/>
        <config key="leftJoinOnColumns_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_stringarray"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="leftJoinOnColumns">
            <entry key="array-size" type="xint" value="1"/>
            <entry key="0" type="xstring" value="player_id"/>
        </config>
        <config key="rightJoinOnColumns_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_stringarray"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="rightJoinOnColumns">
            <entry key="array-size" type="xint" value="1"/>
            <entry key="0" type="xstring" value="person_id"/>
        </config>
        <entry key="duplicateHandling" type="xstring" value="APPEND_SUFFIX_AUTOMATIC"/>
        <config key="customSuffix_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="customSuffix" type="xstring" value="(*)"/>
        <config key="filterLeftJoinOnColumns_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="filterLeftJoinOnColumns" type="xboolean" value="false"/>
        <config key="filterRightJoinOnColumns_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="filterRightJoinOnColumns" type="xboolean" value="true"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.database.node.manipulation.joiner.DBJoinNodeFactory"/>
    <entry key="node-name" type="xstring" value="DB Joiner"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME database nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.database.nodes"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.2.v202409010954"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Database"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.database.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.3.2.v202409010954"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="DB Joiner"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
